<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Apihandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\WEBSITES\pkbookings.com\ChatbotAPI\flaskwebvenv\Scripts\python.exe|D:\WEBSITES\pkbookings.com\ChatbotAPI\flaskwebvenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
